{{ partial "layout_begin.html" . }}
<div class="row">
  <div class="col-sm-8">
    {{ range first 10 .Site.Pages.ByDate.Reverse }}
      {{ if eq .Type "pl" }}
        {{ .Render "summary"}}
      {{ end }}
    {{ end }}
    <hr>
    <div class="home-read-more">
      <a href="{{ .Site.BaseURL }}pl" class="btn btn-primary btn-block
        btn-lg">Pokaż wszystkie teksty po Polsku
        ({{ len (where .Site.Pages "Section" "pl") }}) →</a>
    </div>
  </div>
  <div class="col-sm-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "layout_end.html" . }}
